.environment-indicator-ribbon {
  box-shadow: 0 1px 7px rgba(0, 0, 0, .6);
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1500;
  position: fixed;
  display: block;
  pointer-events: none;
  padding: 3px 100px;
  left: 55px;
  bottom: 55px;
  -webkit-transform: rotate(45deg) translate(-50%, 50%);
  -ms-transform: rotate(45deg) translate(-50%, 50%);
  transform: rotate(45deg) translate(-50%, 50%);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}
